body {
  background: #f0f4f8;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 800px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.linea-superior {
  height: 10px;
  background-color: #00bcd4;
  width: 100%;
}

.contenido-card {
  display: flex;
  padding: 2rem;
}

.izquierda {
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 500px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.derecha {
  width: 65%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.nombre {
  font-size: 1.8rem;
  color: #007acc;
  margin: 0;
}

.profesion {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.2rem 0;
  color : #01188d;
}

.descripcion {
  margin: 1rem 0;
  line-height: 1.5;
  color: #021379;
}

.contacto .dato {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.95rem;
}

.correo-enlace {
  display: block;
  text-decoration: none;
  margin: 2px 0;
}


.icono-operadora {
  width: 20px;
  height: 15px;
  margin-left: 8px;
  vertical-align: middle;
}


.icono {
  width: 20px;
  margin-right: 10px;
}

.curva-inferior {
  width: 100%;
  height: 30px;
  background: #00bcd4;
  border-bottom-left-radius: 100% 30px;
  border-bottom-right-radius: 100% 30px;
}

@media (max-width: 768px) {
  .contenido-card {
    flex-direction: column;
    padding: 1.5rem;
  }

  .izquierda, .derecha {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .derecha {
    padding-top: 1.5rem;
  }

  .dato {
    justify-content: center;
  }

  .curva-inferior {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

